
/* 나의 풀이 
body {
    text-align: center;
    background-color: rgb(233, 215, 207);
}

h1 {
    font-family: 'Oswald';
    font-weight: bold;
    color: rgb(33, 122, 111);
}

a {
    text-decoration: none;
    color: cadetblue;
}

p {
    font-family: 'Fira Sans';
}

#first {
    color: rgb(10, 11, 133);
}

#second {
    color: rgb(133, 11, 53);
}

a:hover {
    color: blueviolet;
} */
